<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
	<form method="POST" action="/child/newclass" enctype="multipart/form-data">
        <p> 반 이름 : <input type="text" id="" name="classname"></p>
		<p> json file : <input type="file" id="bbox" name="annotation"></p>
		<p> 사진 : <input type="file" id="image" name="image" multiple></p>
		<p> 반 이름, json file, 사진을 입력하고 제출버튼을 누르세요. <input type="submit" value="제출" onclick="alert('반 정보 입력 완료!')" /></p>
	</form>
<body>

</body>
</html>